.main{
  height: 100vh;
  position: relative;

  .mask, .content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #afa18f;
    font-size: 64px;
    line-height: 66px;
    cursor: default;
    
    p{
      width: 1000px;
      padding:40px;
    }
    span{
      color: #ec4e39;
    }
  }

  .mask{
    --x: 0px;
    --y: 0px;
    --size: 5px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgb(251, 156, 132);
    // mask-image: url('../../../public/mask.svg');
    // mask-repeat: no-repeat;
    // mask-size: 40px;
    background: #ec4e39;
    position: absolute;
    color: black;
    // visibility: hidden;
  }
}